main {
    padding-top: 4.5rem !important;
    margin-bottom: 1rem !important;
    min-height: calc(100vh - 69px);
}

nav.navbar .nav-link {
    color: #009688 !important;
}

nav.navbar .nav-item.active {
    border-radius: .2rem;
    background-color: rgba(0, 150, 136, .5);
}

nav.navbar .nav-item.active .nav-link {
    color: #ffffff !important;
}

nav.navbar .dropdown-menu .dropdown-item i {
    min-width: 20px;
}

nav.navbar .dropdown-menu .dropdown-item.text-danger:hover {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}

.vid-full-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%
}

/* Toast Override */
#toast-container > div {
    min-width: 24.5rem;
}

.md-toast-title {
    font-weight: 900;
    margin-bottom: .75rem;
}