main {
    margin-top: 4.5rem !important;
    margin-bottom: 1rem !important;
    min-height: calc(100vh - 5.5rem - 53.33px);
}

nav.navbar .dropdown-menu .dropdown-item i {
    min-width: 20px;
}

nav.navbar .dropdown-menu .dropdown-item.text-danger:hover {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}